/* HISTOIRE */
@import url("../global.css");
@import url("../globals.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #103939;
    --secondary-color: #feeefe;
    --accent-color: #d2636c;
    --text-light: #aaa;
    --text-dark: #555;
  
  }
  

.container_head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    overflow: hidden;
    /* gap: 120px; */
}




.introduction {
    display: flex;
    max-width: 60%;
    margin: 160px auto;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    color: var(--primary-color) ;
   
}

.container_head h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0px;
}



.container_head_G {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgba(233, 242, 203, 0.688);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.imgG {
    width: 400px;
    height: 300px;

    display: flex;
    align-items: center;
    border-radius: inherit;
}

.imgG img {
    width: 100%;
}

.textG {
    width: 60%;
    justify-content: center; 
    text-align: left;
    
}

.textG p {
    padding: 0px;
    text-align: center;
}




span img {
    height: 50px;
    width: 50px;
}

.container_head a {
    color: hsl(0, 11%, 31%);
}
