/* CONTACT */
@import url("../global.css");

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Assurer que le body prend toute la largeur de la page */
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

header {
  position: relative;
  z-index: 10; /* Le header reste au-dessus du contenu */
}

/* Container principal */
.conteneur-contact {
  display: flex;
  justify-content: space-between; /* Pour séparer les deux éléments */
  align-items: flex-start; /* Alignement en haut pour les éléments */
  padding: 50px 80px; /* Ajuste l'espace autour */
  min-height: 100vh; /* Pour que la section occupe toute la hauteur */
  background-color: #ead4d4db;
  padding-top: 120px;
}

.illustration {
  flex: 1; /* L'illustration prendra 1 part de l'espace */
  margin-right: 60px; /* Espace entre l'illustration et le formulaire */
}

.illustration img {
  max-width: 100%; /* Limiter la taille de l'illustration */
  height: auto;
}

/* Formulaire */
.formulaire {
  flex: 1; /* Prend l'espace disponible à droite */
  background-color: var(--primary-color); /* Pour donner un fond blanc au formulaire */
  padding: 20px;
  margin-top: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
}
/* Autres styles pour le formulaire (les groupes de champs et boutons) */
.groupe-champ {
  margin-bottom: 15px;
}


.groupe-champ label {
  font-size: 1rem;
}


.groupe-champ input,
.groupe-champ select,
.groupe-champ textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
}




.formulaire h3 {
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
}

/* Styles des groupes de champs */
.groupe-champ {
  margin-bottom: 15px;
  width: 100%;
}

.groupe-champ label {
  display: block;
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 5px;
}


/* Section des actions */
.actions-formulaire {
  text-align: center;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}